Repository bednick/template-monorepository-py3: changes, and which pre-commit hooks are due for each by the changed paths.
All: local.hooks.requirements, local.hooks.constraints, local.hooks.docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args: [
          --in-place,
          --remove-all-unused-imports,
          --remove-duplicate-keys,
          --ignore-init-module-imports,
          --ignore-pass-statements
        ]
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: local.hooks.isort
        name: isort
        entry: local.hooks.isort
        require_serial: true
        language: system
        types_or: [ cython, pyi, python ]
        minimum_pre_commit_version: '2.9.2'
      - id: local.hooks.requirements
        name: gen service requirements.txt
        entry: local.hooks.requirements
        language: system
        files: '^(libraries|services)\/\S*requirements-?([a-z]*)?\.(txt|in)$'
      - id: local.hooks.constraints
        name: check requirements.txt by constraints
        entry: local.hooks.constraints
        language: system
        files: '\S*\/requirements\.(txt|in)$'
      - id: local.hooks.docs
        name: Check services/*/docs
        entry: local.hooks.docs --format yaml
        require_serial: true
        language: system
        files: '^services\/\S*.py$'
      - id: pytest-check
        name: check pytest
        stages: [ commit ]
        types: [ python ]
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true
      - id: mypy-check
        name: check mypy
        stages: [ commit ]
        types: [ python ]
        entry: mypy .
        language: system
        pass_filenames: false
        always_run: true
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: requirements-txt-fixer
        files: (requirements|constraints).*\.(in|txt)$
      - id: pretty-format-json
        args: ["--autofix", "--indent=2", "--no-ensure-ascii", "--no-sort-keys"]

update scripts
  .pre-commit-config.yaml
  constraints-dev.txt
  pyproject.toml
  requirements-dev.txt
  scripts/local-support/local/docs.py
  scripts/local-support/local/gen.py
  scripts/local-support/local/generator.py
  scripts/local-support/local/install.py
  scripts/local-support/local/requirements.py
  scripts/local-support/local/utils.py
  scripts/local-support/setup.py
Due: none

update setuptools
  constraints-dev.txt
  requirements-dev.txt
Due: none

update mypy settings
  .pre-commit-config.yaml
  pyproject.toml
Due: none

update typing
  libraries/async-database-postgresql/async_database_postgresql/storage.py
Due: none

update docs
  README.md
  constraints-dev.txt
  constraints.txt
  pyproject.toml
  requirements-dev.in
Due: none

add alembic
  constraints.txt
  requirements-dev.in
  scripts/local-support/local/templates/libraries/default/setup.py.jinja2
  scripts/local-support/local/templates/services/default/Dockerfile.jinja2
  scripts/local-support/local/templates/services/default/alembic.ini
  scripts/local-support/local/templates/services/default/migrations/env.py.jinja2
  scripts/local-support/local/templates/services/default/tests_{{module_name}}/conftest.py.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/__main__.py.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/api/__init__.py.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/api/root.py.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/application.py.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/asgi.py.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/config.py.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/database/__init__.py.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/dependencies.py.jinja2
  services/example-service/tests_example_workers/conftest.py
Due: local.hooks.docs

update requirements-editable
  libraries/fastapi-settings/requirements-editable.txt
Due: local.hooks.requirements

update requirements-editable
  libraries/fastapi-settings/fastapi_settings/__init__.py
  libraries/fastapi-settings/fastapi_settings/application.py
  scripts/local-support/local/templates/services/default/requirements-editable.txt.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/application.py.jinja2
  services/example-service/example_service/application.py
  services/example-service/requirements-editable.txt
Due: local.hooks.requirements, local.hooks.docs

fix serialize
  libraries/async-rabbitmq/async_rabbitmq/client.py
Due: none

update trace
  constraints.txt
  libraries/async-database-postgresql/async_database_postgresql/config.py
  libraries/async-database-postgresql/requirements-editable.txt
  libraries/async-rabbitmq/async_rabbitmq/config.py
  libraries/async-rabbitmq/requirements-editable.txt
  libraries/async-workers/async_workers/base.py
  libraries/async-workers/requirements-editable.txt
  libraries/fastapi-settings/fastapi_settings/application.py
  libraries/fastapi-settings/fastapi_settings/config.py
  libraries/fastapi-settings/requirements-editable.txt
  libraries/fastapi-settings/requirements.txt
  libraries/logging-settings/logging_settings/__init__.py
  libraries/logging-settings/logging_settings/config.py
  libraries/logging-settings/logging_settings/utils.py
  libraries/logging-settings/requirements-editable.txt
  libraries/logging-settings/requirements.txt
  libraries/pydantic-base-settings/README.md
  libraries/pydantic-base-settings/pydantic_base_settings/__init__.py
  libraries/pydantic-base-settings/pydantic_base_settings/py.typed
  libraries/pydantic-base-settings/requirements-editable.txt
  libraries/pydantic-base-settings/requirements.txt
  libraries/pydantic-base-settings/setup.py
  libraries/pydantic-base-settings/tests_pydantic_base_settings/__init__.py
  libraries/pydantic-base-settings/tests_pydantic_base_settings/conftest.py
  libraries/trace-settings/requirements-editable.txt
  libraries/trace-settings/trace_settings/__init__.py
  libraries/trace-settings/trace_settings/config.py
  libraries/trace-settings/trace_settings/utils.py
  pyproject.toml
  requirements.in
  scripts/local-support/local/gen.py
  services/example-service/requirements.txt
Due: local.hooks.requirements, local.hooks.constraints

update migrations
  .flake8
  README.md
  constraints.txt
  libraries/fastapi-settings/fastapi_settings/__init__.py
  libraries/pydantic-base-settings/pydantic_base_settings/__init__.py
  libraries/pydantic-base-settings/pydantic_base_settings/config.py
  libraries/service-settings/README.md
  libraries/service-settings/requirements-editable.txt
  libraries/service-settings/requirements.txt
  libraries/service-settings/service_settings/__init__.py
  libraries/service-settings/service_settings/alembic.py
  libraries/service-settings/service_settings/application.py
  libraries/service-settings/service_settings/config.py
  libraries/service-settings/service_settings/py.typed
  libraries/service-settings/setup.py
  libraries/service-settings/tests_service_settings/__init__.py
  libraries/service-settings/tests_service_settings/conftest.py
  libraries/trace-settings/trace_settings/config.py
  pyproject.toml
  requirements.in
  scripts/local-support/local/hooks/isort.py
  scripts/local-support/local/templates/services/default/alembic.ini.jinja2
  scripts/local-support/local/templates/services/default/migrations/README.jinja2
  scripts/local-support/local/templates/services/default/migrations/env.py.jinja2
  scripts/local-support/local/templates/services/default/requirements-editable.txt.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/application.py.jinja2
  scripts/local-support/local/templates/services/default/{{module_name}}/config.py.jinja2
  scripts/local-support/local/utils.py
  services/example-service/example_service/application.py
  services/example-service/example_service/config.py
  services/example-service/migrations/README
  services/example-service/migrations/env.py
  services/example-service/requirements-editable.txt
Due: local.hooks.requirements, local.hooks.constraints, local.hooks.docs

fix mypy settings
  pyproject.toml
Due: none

add base methods
  libraries/async-database-postgresql/async_database_postgresql/storage.py
Due: none

update template
  .pre-commit-config.yaml
  docker-compose.yml
  libraries/async-rabbitmq/async_rabbitmq/client.py
  libraries/logging-settings/logging_settings/config.py
  scripts/local-support/local/docs.py
  scripts/local-support/local/gen.py
  scripts/local-support/local/templates/services/default/alembic.ini
  scripts/local-support/local/templates/services/default/alembic.ini.jinja2
  scripts/local-support/local/templates/services/default/tests_{{module_name}}/conftest.py.jinja2
  services/example-service/alembic.ini
  services/example-service/docker-compose.yml
  services/example-service/tests_example_service/__init__.py
  services/example-service/tests_example_service/api/__init__.py
  services/example-service/tests_example_service/api/test_ping.py
  services/example-service/tests_example_service/conftest.py
Due: local.hooks.docs
